<header class="initial_header"><span>CONCERTS WEBSITE</span></header>
<nav>
  <ul class="menu">
    <li><%=link_to('List of Concerts', city_concerts_path)%></li>
    <li><%=link_to('New Concert', new_city_concert_path)%></li>
    <li><%=link_to('Filter by price', concerts_price_path)%></li>
    <li><%=link_to('Popular Concerts', concerts_popular_path)%></li>
  </ul>
</nav>
<div class="image_container"></div>
<div class="image_container2"></div>
