<!doctype html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  <form action="/calculate_add" method="POST">
    <h1>ADD</h1>
    <input type="number" name="first_number" placeholder="1st number"> +
    <input type="number" name="second_number" placeholder="2nd number">

    <button type="submit" value="btn">Calculate</button>
  </form>
</body>
</html>