<link rel="stylesheet" type="text/css" href="stilo.css">
<h1>My first Sinatra</h1>
<p><h2><b>Author:</b> YO</h2></p>

<% if Date.today.tuesday? %>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, dignissimos explicabo soluta unde tempore in ea rerum tenetur quod facere nihil corporis eveniet quas, quia, voluptates repellendus provident excepturi accusamus.</p>
<% else %>
<p>Hoy es <%= Date.today%></p>
<% end %>