code {
 background: #2db34a;
 border-radius: 6px;
 color: #fff;
 display: block;
 padding: 24px 15px;
 text-align: center;
}
header,
section,
aside,
footer {
 margin: 0 1.5% 24px 1.5%;
 position: relative;
}

span
{
  position: absolute;
  display:inline-block;
  height: 20px;
  right: 10px;
  bottom: -15px;
  background-color: #4D6AFF;
}

.wrap
{
  width: 80%;
  margin: 0px auto;
  background-color: #E934FF;
  padding: 20px;
  border-radius: 10px;
}