<h1>HOLA</h1>
<form action="/new_url" method="POST">
  <div>
    <label for="url">URL: </label>
    <input type="text" name="link" id="url">
  </div>
  <button type="submit">Add this contact</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
